body {
    margin: 0; 
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto
}

.container {
    width: 856px;
    margin: 0 auto;
}

nav ul {
    margin: 7px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    display: inline;
    padding: 29px 18px;}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

nav ul li a:hover {
    color: gray;
}
.heebo-medium {
    font-weight: 500;
}

.heebo-regular {
    font-weight: 400;
}

.heebo-bold {
    font-weight: 700;
}
.heebo-black {font-weight: 900;  font-size: 18px;
    background-color: #142850;
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 16px;
    line-height:30px;
    display: inline-block;}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-text {
    padding-top: 237px; padding-right: 108px; 
}
h1 {
    font-size: 44px; margin-bottom: 33px; color: #21243D}
.hero p {font-size: 16px; margin-bottom: 32px}
.hero-image {
    height: 242px; width:243px;
    border-radius: 30%; padding-top:210px;
}
.button {width:208px; height: 47px; color: #FFFFFF ;background-color: #FF6464; border-color: #FF6464; font-size: 20px; margin-bottom: 68px; border-radius: 2px;}
.recent-posts{background-color:#EDF7FA; width:1152px; margin:0 auto; padding-bottom:32px;}
.section-header{display: flex;
    justify-content: space-between;
    align-items: center}
.section-header{margin: 28px 0 14px 0}
.section-header h2{font-size:22px; line-height: 60px; color: #21243D}
.section-header p{color: #00A8CC; font-size: 16px}
.posts-grid{display:flex; gap: 17px;}
.post-card{background-color: white; width: 418px; height: 295px; padding: 29px 47px 29px 21px;}
.post-card h3{font-size: 26px; color: #21243D;}
.post{margin: 0 0 27px 0; font-size: 18px;}
.post-card p{font-size: 16px; color: #21243D}
.post-date {margin-right: 30px; font-size: 18px}
.divider {margin-right: 26px}
.featured-section{width:1152px; margin:0 auto}
.featured-work{display: flex;
    align-items: flex-start;
    gap: 18px;}
.featured-section h4 {font-size:22px;}
.featured-section h2{margin:0 0 16px 0; font-size: 30px; color: #21243D}
.feature-section p{font-size:16px; margin-top:16px; color: #21243D}
.category {padding-left:26px; color:#8695A4; font: size 20px;}
.dashboard img{ width: 246px;
    height: 180px;
    object-fit: cover;}
.potrait img{ width: 246px;
    height: 180px;
    object-fit: cover;}
.malyalm img{ width: 246px;
    height: 182px;
    object-fit: cover;}
.footer-social {display: inline-flex;
    justify-content:center; padding: 0 34px 35px 0}
.footer-social image {width:30px; height:31px;}
footer{padding: 0 0 50px 0; text-align: center}
footer p{color: #21243D; font-size: 14px}