body {
    margin: 0;
}

.container {
    width: 944px;
    margin: 0 auto;
}

nav ul {
    margin: 7px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    display: inline;
    padding: 0 16.5px;  font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

nav ul li a:hover {
    color: gray;
}

.heebo-medium {
    font-weight: 500;
}

.heebo-regular {
    font-weight: 400;
}

.heebo-bold {
    font-weight: 700;
}

.hero {
    padding-top: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-text {
    max-width: 488px;
}

.hero-image {
    height: 242px;
    border-radius: 50%;
}
hero-text h1{margin-bottom: 36px;}
button {width:207px; height: 48px; background-color: #FF6464; border-color: #FF6464; padding-top: 10px 0 10px 0;}